header {
    width: 100vw;
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
   
 .nav_links{
    display: flex;
    margin: 40px 10px 0 0;
 }
 .nav_item{
    margin: 0 20px 0 0;
 }
.img {
    width: 100px;
    height: 100px;
}

.logo {
    background: url("./img/main_img.jpg") no-repeat center;
   height: 700px;
}

.text {
    background-color: transparent;
    color: bisque;
    margin: 0 0 10px 47px;
}

.password {
    background-color: transparent;
    color: bisque;
    margin: 0 0 10px 20px;
    text-align: left;
}

.button {
   
    background-color: bisque;
    width: 100px;
    height: 35px;
    border-radius: 15px;
    margin: 0 0 0 50px;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(237, 202, 159);
    text-decoration: underline;
}

/* 
header {
    display: flex;
} */
.wrapper_main {
    background: url(./img/main_img.jpg) no-repeat center;
    width: 100vw;
    height: 900px;
    position: relative;
}

label {
    color: bisque;
}

form {
    position: absolute;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    left: 40%;
    
}

.href2 {
    margin: 40px 300px 0 0;
 
}

.href {
    color: white;
    text-decoration: none;
}

.href:hover {
    text-decoration: underline;
    color: blanchedalmond;
}




